<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.florianmski.tracktoid"
      android:versionCode="9"
      android:versionName="0.6"
      android:installLocation="preferExternal">
      
    <uses-sdk android:minSdkVersion="4" />
    <uses-sdk android:targetSdkVersion="14" />
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application 	
    	android:icon="@drawable/icon" 
		android:label="@string/app_name" 
		android:theme="@style/Theme.Traktoid"
		android:name=".TraktoidApplication"
        android:hardwareAccelerated="true">

        <activity android:name=".ui.activities.phone.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.activities.phone.SplashActivity"></activity>
        <activity android:name=".ui.activities.phone.SearchActivity" android:label="Search"></activity>
        <activity android:name=".ui.activities.phone.CalendarActivity" android:label="Calendar"></activity>
        <activity android:name=".ui.activities.phone.ShowActivity"></activity>
        <activity android:name=".ui.activities.phone.SeasonActivity"></activity>
        <activity android:name=".ui.activities.phone.EpisodeActivity"></activity>
        <activity android:name=".ui.activities.phone.MyShowsActivity" android:label="Library"></activity>
        <activity android:name=".ui.activities.phone.MyShowActivity"></activity>
        <activity android:name=".ui.activities.phone.SettingsActivity" android:label="Settings"></activity>
        <activity android:name=".ui.activities.phone.RecommendationActivity" android:label="Recommendation"></activity>
        <activity android:name=".ui.activities.phone.AboutActivity" android:label="About"></activity>
        <activity android:name=".ui.activities.phone.LoginActivity" android:label="Login"></activity>
        <activity android:name=".ui.activities.phone.ShoutsActivity" android:label="Shouts" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        
        <activity android:name=".ui.activities.tablet.MyShowsTabletActivity"></activity>

    </application>
</manifest>